<!DOCTYPE html>
<html lang="en">
<head>
	<title>Autentificación</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
		<body class="index">

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-lock"></span> Autentification</h1>
				<p>Login or register</p>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Log in
				</a>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Sign up
				</a>
			</div>
		</div>
	</div>

</body>
</html>
