.login {
    background: #2fbbaf;  
  background: -webkit-linear-gradient(to right, #6380e0, #2f37ab); 
  background: linear-gradient(to right, #638be0, #4a2fab); 
  }
  
  .signup {
    background: #2fbbaf;  
  background: -webkit-linear-gradient(to right, #6380e0, #2f37ab); 
  background: linear-gradient(to right, #638be0, #4a2fab); 
  }
  .index {
    background: #2fbbaf;  
  background: -webkit-linear-gradient(to right, #6380e0, #2f37ab); 
  background: linear-gradient(to right, #638be0, #4a2fab); 
  }

  .profile {
    background: #2fbbaf;  
  background: -webkit-linear-gradient(to right, #6380e0, #2f37ab); 
  background: linear-gradient(to right, #638be0, #4a2fab); 
  }

  .map {
    background: #2fbbaf;  
  background: -webkit-linear-gradient(to right, #6380e0, #2f37ab); 
  background: linear-gradient(to right, #638be0, #4a2fab); 
  }
